body {
    margin: 0;
    font-family: 'Anton', sans-serif;
    background-color: #181E25;
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    float: none;
    position: absolute;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.btn {
    font-family: 'Anton', sans-serif;
    margin: 5px;
    background: black;
    opacity: 1;
    color: #fff;
    animation-name: colorrr;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.btn:hover {
    color: black;
    scale: 1.2;
    transition: 0.3s;
    animation-name: backgroundColorPalette;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

nav {
    column-count: 5;
  gap: 20px;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    word-spacing: 30px;
}

@keyframes backgroundColorPalette {
    0% {
      background: #ee6055;
    }
    10% {
      background: #60d394;
    }
    20% {
        background: #B2A4FF;
    }
    30% {
        background: #FFB4B4;
    }
    40% {
        background: #C1EFFF;
    }
    50% {
        background: #FFE9AE;
    }
    60% {
        background: #FFE9AE;
    }
    70% {
      background: #aaf683;
    }
    80% {
      background: #ffd97d;
    }
    90% {
        background: #FFB4B4;
    }
    100% {
      background: #ff9b85;
    }
  }

  @keyframes colorrr {
    0% {
      color: #ee6055;
    }
    10% {
      color: #60d394;
    }
    20% {
        color: #B2A4FF;
    }
    30% {
        color: #FFB4B4;
    }
    40% {
        color: #C1EFFF;
    }
    50% {
        color: #FFE9AE;
    }
    60% {
        color: #FFE9AE;
    }
    70% {
      color: #aaf683;
    }
    80% {
      color: #ffd97d;
    }
    90% {
        color: #FFB4B4;
    }
    100% {
      color: #ff9b85;
    }
  }